*~
#*
.#*
*.seed
*.png
*.serplog
*.out
*_res.m
*_det*.m
/examples/fuelpin/*
/examples/fuelpinburn/*
/examples/sphere/*
/examples/ESFR/*
/examples/ELECTRA/*
/examples/gfr/*
/examples/lfr/*
/examples/pointsource/*
